<%= form_for(@portfolio_counter) do |f| %>
  <% if @portfolio_counter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_counter.errors.count, "error") %> prohibited this portfolio_counter from being saved:</h2>

      <ul>
      <% @portfolio_counter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pid %><br>
    <%= f.number_field :pid %>
  </div>
  <div class="field">
    <%= f.label :cid %><br>
    <%= f.number_field :cid %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :purchasedate %><br>
    <%= f.date_select :purchasedate %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
